.container {
  width: 80%;
  margin: 0 auto;
}

.container-home {
  display: flex;
  flex-direction: column;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.menu {
  background-color: #000;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.menu-title {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu-list li {
  color: #FFF;
  font-size: 18px;
}

.menu-list li:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* TIPOS */

.type-container {
  display: flex;
  flex-direction: column;
}

.type-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.type-items {
  display: flex;
  flex-wrap: wrap;
}

.type-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.bg-monster {
  background-color: #FF8B53;
}

.bg-spell {
  background: #1D9E74;
}

.bg-trap {
  background: #8B66AB;
}