.container {
  width: 80%;
  margin: 0 auto;
}

.container-home {
  display: flex;
  flex-direction: column;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
  text-align: center;
}

.card-item abbr {
  font-weight: bold;
  color: #000;
  font-size: 14px;


  ;
}

.menu {
  background-color: #001427;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.menu-title {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.menu-list li {
  color: #FFF;
  font-size: 18px;
}

.menu-list li:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* TIPOS */

.type-container {
  display: flex;
  flex-direction: column;
}

.type-header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.type-items {
  display: flex;
  flex-wrap: wrap;
}

.type-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.bg-monster {
  background-color: #FF8B53;
}

.bg-spell {
  background: #1D9E74;
}

.bg-trap {
  background: #8B66AB;
}

/*  details */

.card-content {
  display: flex;
  flex-direction: column;
}

.title-card-details {
  text-align: center;
  color: #001427;
  font-size: 24px;
}

.details-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  
}

.image-card-details {
  width: 350px;
  flex-basis: 30%;
  object-fit: fill;
  align-self: flex-start;
}

.info-details {
  background-color: #142D45;
  flex-basis: 60%;
  color: #FFF;
  border-radius: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.card-details-header {
  display: flex;
  gap: 5px;
}

.card-details-body {
  display: flex;
  flex-direction: column;
}

.card-details-body p {
  text-align: justify;
}

.card-details-body span {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.card-details-body hr {
  width: 100%;
}

.card-details-footer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}

.badge {
  background-color: #FFF;
  border-radius: 4px;
  padding: 2px;
  color: #142D45;
  font-weight: bold;
}